.todos-bg-container {
    background-color: black;
    height: 100vh;
}

.todos-heading {
    text-align: left;
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}


.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.title-container {
    font-size: 26px;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: gray;

}

.add-button {
    background-color: blue;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: white;
}

.todo-item-heading {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 700;
    color: gray;
}

.todo-item-heading-subpart {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    color: gray;
}


.todo-items-container {
    margin: 0;
    padding: 0;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: gray;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.todo-users-input {
    background-color: blue;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
}

.add-todo-button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;

}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
}
